*{
    font-family: sans-serif, cursive;
    font-weight: bold;
    margin: 0 auto;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 
}
.header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(8, 174, 193, 0.475);
    z-index: 100; 
    margin: 0 auto;
}
.header-logo{
    padding-left: 30px;
}
.header a{
    position: relative;
    text-decoration: none;
    margin: 0 20px; 
    color: #f4f4f4;
}
main{
  width: 100%;
 padding-top: 10vh;
}

ul li{
    display: inline;
}
.login-register a:hover{
    transform: scale(1.05);
}
a:hover{
    color: orange;
}
.login-register{
    display: flex;
    flex-wrap: wrap;
}

.main-box{
    padding-top: 13%;
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 200px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.main-box h2{
    margin-left: 40px;
    font-size: 40px;
    align-items: center;
}
.main-box h1{
    font-size: 52px;
    align-items: center;
}

.botao button{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    cursor: pointer;
    transition:  0.4s ease-in-out;
    border-radius: 20px;
}
.botao button:hover{
    background-color: rgb(68, 235, 235);
    transform: scale(1.05);
    transition:  0.4s ease-in-out;   
}
.social-medias{
    display: flex;
    width: 200px;
    padding-top: 3%; 
    justify-content: space-around;
}


/* ----------------------------- SOBRE -------------------------------------*/

.first-box{
    
    justify-content: center;
    margin: auto;
}
.first-box h1{
    width: 100%;
    padding-top: 20px;
    text-align: center;
    color: #f4f4f4;
    margin: auto;
}
.first-box h1::after{
    content: '';
    width: 120px;
    height: 5px;
    background: purple;
    display: block;
    margin: 20px auto;
}
.text {
    text-indent: 30px;
    flex-wrap: wrap;
  }
  
  .text p {
    padding-left: 1vw;
    background-color: #f4f4f4;
    padding-right: 1vw;
    width: 50%;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 2vh;
  }
.paragraph1{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
    padding-top: 4%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
}

.paragraph2{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
    padding-top: 4%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
    
    
}
.paragraph3{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
    padding-top: 4%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
}
.paragraph4{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
    padding-top: 4%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;   
    margin-left: 25vw;
    transition: 0.4s;
}
.paragraph5{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
    padding-top: 4%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
}
.paragraph6{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 20vh;
    padding-top: 4%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
}
.paragraph-footer{
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 10vh;
    padding-top: 4%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
    text-align: center;
    
}
.paragraph1:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
}
.paragraph2:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
    
}
.paragraph3:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
    
}
.paragraph4:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
}
.paragraph5:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
}
.paragraph6:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
}
.paragraph-footer:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
}

@media (max-width: 900px){
    
    .text p{
        width: 85%;
       
    }
    .paragraph1{
        height: 25vh;
    }
    .paragraph2{
        height: 20%;
    }
    .paragraph3{
        height: 25vh;
    }
    .paragraph4{
        height: 25vh;
    }
    .paragraph5{
        height: 25vh;
    }
    .paragraph6{
        height: 25vh;
    }
 
}


