*{
    font-family: sans-serif, cursive;
    font-weight: bold;
    margin: 0 auto;
}

body{
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../images/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 
}
body.modal-open {
    overflow: hidden;
  }


.header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
    
}
.header-logo{
    padding-left: 30px;
}
.header-logo:hover{
    transform: scale(1.2);
}
.header a{
    position: relative;
    text-decoration: none;
    margin: 0 20px; 
    color: #f4f4f4;
}

main{
 width: 100%;
 padding-top: 5vh;
}

ul li{
    display: inline;
}
ul li a:hover{
    color: orange;

}
.login-register{
    transition: all 0.6s ease-in-out;
    
}
.login-register a:hover{
    transform: scale(1.05);
   
}
.login{
    border: solid;
    padding-inline: 2vw;
    padding-top: 0.5vh;   
    border-radius: 30px;
    outline: none;
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
}

.register{
    padding-inline: 1vw;
    padding-top: 0.5vh;   
    border: solid;
    border-radius: 30px;
    outline: none;
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
}

.login-register{
    display: flex; 
}


.main-box{
    padding-top: 10%;
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    height: 200px;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    visibility: hidden;
}
.main-box h2{
    margin-left: 40px;
    font-size: 40px;
    align-items: center;
}
.main-box h1{
    font-size: 52px;
    align-items: center;
}

.botao input{
    margin-top: 3vh;
    width: 100%;
    height: 50px;
    cursor: pointer;
    transition:  0.4s ease-in-out;
    border-radius: 20px;
    outline: none;
    padding-inline: 6vw;
}

.botao input:hover{
    background-color: rgb(68, 235, 235);
    transform: scale(1.05);
    transition:  0.4s ease-in-out;   
}
.social-medias{
    display: flex;
    width: 200px;
    padding-top: 3%; 
    justify-content: space-around;
}
@media  (max-width: 912px) {
    .main-box{
        padding-top: 30%;
        
    }
}

/* ----------------------------- SOBRE -------------------------------------*/

.first-box{
    width: 100%;
}
.first-box h1{
    width: 100%;
    padding-top: 2vh;
    text-align: center;
    color: #f4f4f4;
    margin: auto;
}
.first-box h1::after{
    content: '';
    width: 120px;
    height: 5px;
    background: purple;
    display: block;
    margin: 20px auto;
}
.text {
    text-indent: 30px;
    flex-wrap: wrap;
  }
  
  .text p {
    padding-left: 1vw;
    background-color: #f4f4f4;
    padding-right: 1vw;
    width: 50%;
    height: 50%;
    text-align: justify;
    margin: 0 auto;
    margin-bottom: 2vh;
  }
.paragraph1{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
}

.paragraph2{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
}
.paragraph3{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
}
.paragraph4{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;   
    margin-left: 25vw;
    transition: 0.4s;
}
.paragraph5{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
}
.paragraph6{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
}
.paragraph-footer{
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 20px;
    border-style:solid;
    border-color: red;
    margin-left: 25vw;
    transition: 0.4s;
}
.paragraph1:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
}
.paragraph2:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
    
}
.paragraph3:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
    
}
.paragraph4:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
}
.paragraph5:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
}
.paragraph6:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
}
.paragraph-footer:hover{
    transform: scale(1.05);
    transition:  ease-in-out 0.4s;
    background-color: rgb(68, 235, 235)
}

/* ------------------------------ LOGIN --------------------------------- */
.main-box-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4%;
    background-color: rgb(20, 228, 247, .3);
    width: 30vw;
    height: 50vh;
    border-radius: 20px;
    box-shadow: inset 0 0 1em black, 0 0 1em aqua;
}
.main-box-login h2{
    
    font-weight: bold;

}

.input {
   display: flex;
   margin: 2vh;
   width: 100%;
   height: 5vh;

}
.box-login{
    width: 60%;
  
    border-radius: 10px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.button-login{
    display: flex;
    margin: 3vh;
    width: 60%;
    height: 6vh;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 177, 177);
    transition: all 0.7s ease-in-out;
}
.button-login:hover{
    transform: scale(1.05);
    background-color:rgb(4, 252, 252) ;
}
.forgot-password {
    width: 100%;
    height: 4vh;
}
.forgot-password a{
    margin-left: 8vw;
    color: #f4f4f4;
    text-decoration: none;
}
.forgot-password a:hover{
    color: orange;
}
@media  (max-width: 912px) {
    .main-box-login{
        width: 70%;
    }
    .forgot-password a{
        margin-left: 0;
    }

}

/*---------------------- DESTINOS -------------------------*/


.all-destinos{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    width: 100%;
   
    
}
.all-destinos .destino{
   
    color: #f4f4f4;
    margin-top: 40px;
    width: 20vw;
    height: 30vh; 
}
.all-destinos img{
    width: 11.5vw;
    height: 20vh;
    border: solid;
    border-radius: 20px;
    transition: all 0.3s ease-in-out;
    margin-left: 20%;
    

}
.all-destinos h2{
    margin-bottom: 18px;
    text-align: center;
    margin: 0 auto;
    
}

.all-destinos img:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.main-destinos{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 1vh;
}
.title-destinos{
   margin-bottom: 5vh;
   color: #f4f4f4;
}
.buttons-destinos{
    width: 80vw;
    height: 6vh;
    display: flex;
}
.buttons-destinos button{
    background-color: rgb(20, 228, 247, .3);
    width: 12%;
    color: gold;
    border: solid;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border-color: gold;
    border-radius: 10px;
    color: gold;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 150ms ease-in-out;
  
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: gold;
    z-index: -1;
    transition: width 300ms ease-in-out;
  }
  
  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }

  

}
.buttons-destinos button:hover{
    transform: scale(1.05);
}


/* MODAL DESTINOS */


.modal-dialog{
    position: fixed;
    top: 50%;
    left:50%;
    width: 50%;
    height: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 30px;
    transition: 1s;
    z-index: 10;
    box-shadow: inset 3px 3px 1em rgb(1, 10, 14), 3px 3px 1em rgb(4, 1, 9);
    
}

.modal-dialog button{
    width: 5rem;
    height: 5%;  
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    background-color: rgb(250, 108, 108);
    
}
.modal-dialog button:hover{
    transform: scale(1.05);
    background-color: rgb(241, 0, 0);
}


.modal-dialog img{
    margin-top: 10px;
    width: 95%;
    border-radius: 20px;
    border: solid;

}
.modal-dialog p{
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 3px solid #ccc;
   text-align: justify;
   text-indent: 20px;
    margin-bottom: 20px;
}


#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    z-index: 5;
  }
  
  #fade.fade-in {
    opacity: 1;
    pointer-events: auto;
  }


@media  (max-width: 540px) {
   .buttons-destinos {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    height: 20%;
   }
   #btnoceania{
    margin-left: 75%;
   }
   .buttons-destinos button{
    margin: 5px auto;
    width: 50%;
    height: 20vh;
    
   }
}
@media (max-width: 450px){
    .all-destinos{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .all-destinos .destino{
        width: 100%;
    }
    .all-destinos img{
        width: 80%;
        margin-left: 10%;
            
    }
}
@media (min-width: 450px) and (max-width: 1000px){
    .all-destinos{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        width: 100%;
    }
    .all-destinos .destino{
      
        width: 100%;
    }
    .all-destinos img{
        width: 80%;
        margin-left: 10%;
     
        
    }
}
@media (min-width: 1024px) and (max-width: 1300px){
    .all-destinos{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        width: 100%;
    }
    .all-destinos .destino{
      
        width: 100%;
    }
    .all-destinos img{
        width: 80%;
        margin-left: 10%;
     
        
    }
}

@media (max-width: 768px){
    .modal-dialog{
        width: 80%;
    }
    .modal-dialog img{
        width: 100%;
    }
}


/* -------------------------- CONTATO ------------------------ */
.main-contato{
    background-color: rgb(20, 228, 247, .3);
    border-radius: 10px;
    display: flex; 
    color: black;
    width: 38vw;
    height: 70vh;
    box-shadow: inset 3px 3px 1em rgb(1, 75, 106), 3px 3px 1em rgb(80, 4, 243);
}
.box-contato{

    height: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 6vh;
    
    
}
.box-contato input{
    margin: 2vh auto;
    width: 100%;
    height: 4vh;
    border-radius: 5px;
    border: solid black;
   
    
}


.labelnome {
    padding-right: 100%;
}
.labelemail{
    padding-right: 100%;
}
.labeltelefone{
    padding-right: 100%;
}

textarea{
    margin-top: 10px;
    width: 100%;
    text-indent: 20px;
    border-radius: 5px;
    resize: none;
  
    border: solid black;
}

.botao-contato{
    margin: 20px auto;
    width: 15vw;
    height: 6vh;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    background-color: rgb(0, 177, 177);
}
.botao-contato:hover{
    transform: scale(1.05);
    background-color:rgb(4, 252, 252) ;
    
}

@media  (max-width: 560px) {
    .main-contato{
        width: 70%;
        height: 70vh;
    }
    .labelemail{
        padding: 0;
    }
    .labelnome{
        padding: 0;
    }
    .labeltelefone{
        padding: 0;
    }
    .botao-contato{
        width: 60%;
    }
    .box-contato input{
        width: 80%;
    }
    textarea{
        width: 80%;
    }
 }
@media (max-width: 912px) {
    .main-contato{
        width: 60%;
    }
   
  
}


/*======================= GALERIA =========================*/


section img{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    border: solid 2px;
}

section{
    width: 100%;
    column-count: 3;
    column-gap: 10px;
    height: 100%;
    overflow: hidden;
}
.header-galeria{
    background-color: black;
    
}
.main-galeria{
    background-color: black;
}

@media (max-width: 768px){
    section{
        column-count: 2;
    }
    
  
}
    



